.todos-main{
    list-style-type: none;      
    flex:2;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.todos-todo{
    flex:1;
    min-height: 240px;
    width:240px;
    max-width:240px;
    background-color: rgb(178, 255, 229);
    text-align: center;
    margin: 20px;
    padding:10px;
    border-radius: 15px;
}

.todos-todo p{
    font-size: 18px;
    word-wrap: break-word;
}

.todos-todo button{
    border:2px solid black;
    background-color: transparent;
    opacity: 0.9;
    height:40px;
    width: 150px;
    padding:10px;
    border-radius: 75px;
    margin-bottom: 5px;
}
.todos-todo button:hover{
    background-color: rgb(122, 254, 210);
}
.todos-todo button:active{
    background-color: rgb(77, 251, 193);
}
.todos-todo-description{
    min-width: 220px;
    min-height: 190px;
    font-size: 15px;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.todos-todo .todos-todo-name-btn{
    justify-content: center;
}